In [46]:
import pandas as pd
import numpy as np
import pickle
from pandas.io.json import json_normalize

In [79]:
data_json = pd.read_pickle('summoner_stats.pkl')

In [81]:
print(data_json[index]['total']['stats'])
print(data_json[index]['total']['stats'].values)

{'totalFirstBlood': 0, 'mostSpellsCast': 0, 'totalDeathsPerSession': 5662, 'totalQuadraKills': 26, 'rankedSoloGamesPlayed': 0, 'maxLargestKillingSpree': 24, 'totalMinionKills': 101136, 'totalMagicDamageDealt': 51746012, 'totalSessionsWon': 375, 'totalNeutralMinionsKilled': 7846, 'normalGamesPlayed': 0, 'totalDamageDealt': 92261196, 'mostChampionKillsPerSession': 33, 'totalDoubleKills': 813, 'totalSessionsPlayed': 725, 'botGamesPlayed': 0, 'rankedPremadeGamesPlayed': 0, 'killingSpree': 2697, 'totalPhysicalDamageDealt': 34939949, 'totalTurretsKilled': 622, 'totalChampionKills': 6971, 'totalHeal': 1703049, 'totalDamageTaken': 17953069, 'totalAssists': 5848, 'totalUnrealKills': 0, 'totalPentaKills': 7, 'totalTripleKills': 134, 'totalGoldEarned': 9061210, 'maxLargestCriticalStrike': 1508, 'maxTimePlayed': 3710, 'maxNumDeaths': 21, 'totalSessionsLost': 350, 'maxTimeSpentLiving': 1936, 'maxChampionsKilled': 33}
<built-in method values of dict object at 0x13d2619c8>

In [83]:
prefChamp_att = [
    'summonerID', 
    'champID',
    'totalFirstBlood', 
    'mostSpellsCast', 
    'totalQuadraKills', 
    'totalDeathsPerSession', 
    'mostChampionKillsPerSession', 
    'totalMinionKills', 
    'totalSessionsWon', 
    'totalDamageDealt', 
    'totalDoubleKills', 
    'totalSessionsPlayed', 
    'maxNumDeaths', 
    'totalPhysicalDamageDealt', 
    'totalTurretsKilled', 
    'totalChampionKills', 
    'totalDamageTaken',
    'totalAssists', 
    'totalUnrealKills', 
    'totalPentaKills', 
    'totalTripleKills', 
    'totalGoldEarned', 
    'totalMagicDamageDealt', 
    'totalSessionsLost', 
    'maxChampionsKilled']

total_att = [
    'summonerID', 
    'champID',
    'totalFirstBlood', 
    'mostSpellsCast', 
    'totalDeathsPerSession', 
    'totalQuadraKills', 
    'rankedSoloGamesPlayed', 
    'maxLargestKillingSpree', 
    'totalMinionKills', 
    'totalMagicDamageDealt', 
    'totalSessionsWon', 
    'totalNeutralMinionsKilled', 
    'normalGamesPlayed', 
    'totalDamageDealt', 
    'mostChampionKillsPerSession', 
    'totalDoubleKills', 
    'totalSessionsPlayed', 
    'botGamesPlayed', 
    'rankedPremadeGamesPlayed', 
    'killingSpree', 
    'totalPhysicalDamageDealt', 
    'totalTurretsKilled', 
    'totalChampionKills', 
    'totalHeal', 
    'totalDamageTaken', 
    'totalAssists', 
    'totalUnrealKills', 
    'totalPentaKills', 
    'totalTripleKills', 
    'totalGoldEarned', 
    'maxLargestCriticalStrike', 
    'maxTimePlayed', 
    'maxNumDeaths', 
    'totalSessionsLost', 
    'maxTimeSpentLiving', 
    'maxChampionsKilled']

In [85]:
def build_dataframes(json, prefChamp_att, total_att):
    list_pref_champ = []
    list_total = []
    for index in json:
        list_pref_champ.append([index, 
                                stats_json[index]['pref_champ']['id']] +  list(
                stats_json[index]['pref_champ']['stats'].values()))
        list_total.append([index, 
                                stats_json[index]['total']['id']] +  list(
                stats_json[index]['total']['stats'].values()))
    df_pc = pd.DataFrame(list_pref_champ, columns = prefChamp_att)
    df_total = pd.DataFrame(list_total, columns = total_att)
    return df_pc, df_total

In [125]:
df_pc, df_total = build_dataframes(data_json, prefChamp_att, total_att)

In [126]:
df_pc = df_pc.set_index('summonerID')
print(df_pc.columns)
df_pc = df_pc[['champID', 'totalSessionsPlayed', 'totalSessionsWon', 'totalSessionsLost', 'totalGoldEarned', 
               'totalMinionKills', 'totalTurretsKilled', 'totalPhysicalDamageDealt', 'totalMagicDamageDealt', 
               'totalDamageTaken', 'totalDeathsPerSession', 'maxNumDeaths', 'totalAssists', 'totalChampionKills', 'totalDoubleKills', 
               'totalTripleKills', 'totalQuadraKills', 'totalPentaKills', 'mostChampionKillsPerSession']]
print(df_pc.dtypes)
df_pc.head()

Index(['champID', 'totalFirstBlood', 'mostSpellsCast', 'totalQuadraKills',
       'totalDeathsPerSession', 'mostChampionKillsPerSession',
       'totalMinionKills', 'totalSessionsWon', 'totalDamageDealt',
       'totalDoubleKills', 'totalSessionsPlayed', 'maxNumDeaths',
       'totalPhysicalDamageDealt', 'totalTurretsKilled', 'totalChampionKills',
       'totalDamageTaken', 'totalAssists', 'totalUnrealKills',
       'totalPentaKills', 'totalTripleKills', 'totalGoldEarned',
       'totalMagicDamageDealt', 'totalSessionsLost', 'maxChampionsKilled'],
      dtype='object')
champID                        int64
totalSessionsPlayed            int64
totalSessionsWon               int64
totalSessionsLost              int64
totalGoldEarned                int64
totalMinionKills               int64
totalTurretsKilled             int64
totalPhysicalDamageDealt       int64
totalMagicDamageDealt          int64
totalDamageTaken               int64
totalDeathsPerSession          int64
maxNumDeaths                   int64
totalAssists                   int64
totalChampionKills             int64
totalDoubleKills               int64
totalTripleKills               int64
totalQuadraKills               int64
totalPentaKills                int64
mostChampionKillsPerSession    int64
dtype: object

,champID,totalSessionsPlayed,totalSessionsWon,totalSessionsLost,totalGoldEarned,totalMinionKills,totalTurretsKilled,totalPhysicalDamageDealt,totalMagicDamageDealt,totalDamageTaken,totalDeathsPerSession,maxNumDeaths,totalAssists,totalChampionKills,totalDoubleKills,totalTripleKills,totalQuadraKills,totalPentaKills,mostChampionKillsPerSession
summonerID,,,,,,,,,,,,,,,,,,,
31238838,39,377,219,158,4693524,69883,514,38041669,2348603,10842184,1542,11,3018,3054,267,36,5,0,21
56537051,222,67,39,28,849312,12075,151,10100498,645437,1162187,346,14,627,543,73,14,1,0,20
30485630,412,80,30,50,676788,2343,12,475146,1543245,1845429,503,11,1131,114,1,0,0,0,6
43931509,254,56,31,25,694319,3434,50,7961660,368995,1466012,312,10,525,410,30,2,0,0,17
21238845,81,99,60,39,1310656,20458,100,12551569,2714229,1646127,365,9,969,866,110,19,4,0,23

In [127]:
df_total = df_total.set_index('summonerID')
print(df_total.columns)
df_total = df_total[['totalSessionsPlayed', 'totalSessionsWon', 'totalSessionsLost', 'totalGoldEarned', 
               'totalMinionKills', 'totalNeutralMinionsKilled', 'totalTurretsKilled', 'totalPhysicalDamageDealt', 
                'totalMagicDamageDealt', 'totalDamageTaken', 'totalHeal', 'totalDeathsPerSession', 'totalAssists', 
                'totalChampionKills', 'totalDoubleKills', 'totalTripleKills', 'totalQuadraKills', 'totalPentaKills']]
print(df_total.dtypes)
df_total.head()

Index(['champID', 'totalFirstBlood', 'mostSpellsCast', 'totalDeathsPerSession',
       'totalQuadraKills', 'rankedSoloGamesPlayed', 'maxLargestKillingSpree',
       'totalMinionKills', 'totalMagicDamageDealt', 'totalSessionsWon',
       'totalNeutralMinionsKilled', 'normalGamesPlayed', 'totalDamageDealt',
       'mostChampionKillsPerSession', 'totalDoubleKills',
       'totalSessionsPlayed', 'botGamesPlayed', 'rankedPremadeGamesPlayed',
       'killingSpree', 'totalPhysicalDamageDealt', 'totalTurretsKilled',
       'totalChampionKills', 'totalHeal', 'totalDamageTaken', 'totalAssists',
       'totalUnrealKills', 'totalPentaKills', 'totalTripleKills',
       'totalGoldEarned', 'maxLargestCriticalStrike', 'maxTimePlayed',
       'maxNumDeaths', 'totalSessionsLost', 'maxTimeSpentLiving',
       'maxChampionsKilled'],
      dtype='object')
totalSessionsPlayed          int64
totalSessionsWon             int64
totalSessionsLost            int64
totalGoldEarned              int64
totalMinionKills             int64
totalNeutralMinionsKilled    int64
totalTurretsKilled           int64
totalPhysicalDamageDealt     int64
totalMagicDamageDealt        int64
totalDamageTaken             int64
totalHeal                    int64
totalDeathsPerSession        int64
totalAssists                 int64
totalChampionKills           int64
totalDoubleKills             int64
totalTripleKills             int64
totalQuadraKills             int64
totalPentaKills              int64
dtype: object

,totalSessionsPlayed,totalSessionsWon,totalSessionsLost,totalGoldEarned,totalMinionKills,totalNeutralMinionsKilled,totalTurretsKilled,totalPhysicalDamageDealt,totalMagicDamageDealt,totalDamageTaken,totalHeal,totalDeathsPerSession,totalAssists,totalChampionKills,totalDoubleKills,totalTripleKills,totalQuadraKills,totalPentaKills
summonerID,,,,,,,,,,,,,,,,,,
31238838,622,321,301,7271940,99315,3663,705,53490033,10093989,17384980,4287937,2770,5646,3943,324,42,5,0
56537051,559,282,277,6764162,82200,5113,710,45598128,30256375,11861168,1815080,3232,5333,3936,380,57,9,1
30485630,536,262,274,5490734,54017,4017,332,18233367,26894345,10261106,1699114,2858,5740,2183,173,17,0,0
43931509,513,280,233,5991558,53256,18369,486,38231650,25792157,14289960,2371915,2862,5078,3094,244,33,5,1
21238845,707,379,328,8550160,116431,9350,694,73323539,20909710,15741960,2570289,3176,6628,4568,505,63,12,1

In [130]:
df_pc.describe()

,champID,totalSessionsPlayed,totalSessionsWon,totalSessionsLost,totalGoldEarned,totalMinionKills,totalTurretsKilled,totalPhysicalDamageDealt,totalMagicDamageDealt,totalDamageTaken,totalDeathsPerSession,maxNumDeaths,totalAssists,totalChampionKills,totalDoubleKills,totalTripleKills,totalQuadraKills,totalPentaKills,mostChampionKillsPerSession
count,19683.000000,19683.000000,19683.000000,19683.000000,1.968300e+04,19683.000000,19683.000000,1.968300e+04,1.968300e+04,1.968300e+04,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000
mean,128.543769,111.792105,62.572270,49.219834,1.366169e+06,15046.653559,118.718996,9.559600e+06,4.767600e+06,2.737681e+06,659.021643,13.532033,1056.512117,787.621348,83.829599,13.064167,2.006706,0.353351,18.867805
std,117.880538,114.894863,63.933763,51.798772,1.427882e+06,19348.063665,158.487852,1.468879e+07,9.121081e+06,2.991337e+06,707.916202,2.739480,1169.172357,942.564877,113.417232,21.555721,4.184357,0.968602,7.348926
min,1.000000,3.000000,0.000000,0.000000,2.631800e+04,63.000000,0.000000,2.511600e+04,0.000000e+00,7.356500e+04,14.000000,4.000000,10.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,54.000000,44.000000,25.000000,19.000000,5.269295e+05,3619.500000,30.000000,1.139220e+06,5.671165e+05,1.019158e+06,244.000000,12.000000,383.000000,237.000000,16.000000,1.000000,0.000000,0.000000,14.000000
50%,90.000000,78.000000,44.000000,34.000000,9.359350e+05,8752.000000,68.000000,4.450162e+06,1.663340e+06,1.844853e+06,446.000000,13.000000,701.000000,500.000000,49.000000,6.000000,1.000000,0.000000,20.000000
75%,157.000000,137.000000,77.000000,61.000000,1.677936e+06,18854.500000,145.000000,1.216840e+07,4.843535e+06,3.323921e+06,804.000000,15.000000,1281.000000,971.000000,105.000000,16.000000,2.000000,0.000000,24.000000
max,432.000000,1586.000000,846.000000,771.000000,1.901537e+07,259693.000000,2922.000000,2.355749e+08,1.772243e+08,5.685792e+07,10769.000000,37.000000,17753.000000,13603.000000,2490.000000,692.000000,145.000000,21.000000,54.000000

In [129]:
df_total.describe()

,totalSessionsPlayed,totalSessionsWon,totalSessionsLost,totalGoldEarned,totalMinionKills,totalNeutralMinionsKilled,totalTurretsKilled,totalPhysicalDamageDealt,totalMagicDamageDealt,totalDamageTaken,totalHeal,totalDeathsPerSession,totalAssists,totalChampionKills,totalDoubleKills,totalTripleKills,totalQuadraKills,totalPentaKills
count,19683.000000,19683.000000,19683.000000,1.968300e+04,19683.000000,19683.000000,19683.000000,1.968300e+04,1.968300e+04,1.968300e+04,1.968300e+04,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000,19683.000000
mean,653.096530,333.516740,319.579790,7.809264e+06,86859.280445,13613.065590,622.197531,5.048275e+07,3.209113e+07,1.649592e+07,2.649009e+06,4036.954682,6071.024082,4180.361124,413.739217,59.134837,8.342529,1.380023
std,457.319313,232.327472,225.609901,5.535797e+06,67503.988093,12879.502597,489.676044,4.184370e+07,2.667010e+07,1.187256e+07,2.117193e+06,2995.773369,4259.928429,3184.499058,341.487750,55.442262,9.398252,2.038391
min,50.000000,13.000000,7.000000,4.569480e+05,2155.000000,13.000000,7.000000,5.398040e+05,1.078730e+05,7.168520e+05,6.980000e+04,178.000000,288.000000,107.000000,1.000000,0.000000,0.000000,0.000000
25%,312.000000,160.000000,151.000000,3.662452e+06,37108.500000,4756.000000,263.000000,1.993115e+07,1.300924e+07,7.644806e+06,1.144268e+06,1818.500000,2898.000000,1815.000000,164.000000,20.000000,2.000000,0.000000
50%,553.000000,282.000000,270.000000,6.571496e+06,70212.000000,9864.000000,496.000000,3.947223e+07,2.510680e+07,1.385311e+07,2.128946e+06,3315.000000,5189.000000,3384.000000,325.000000,44.000000,5.000000,1.000000
75%,888.000000,454.000000,435.000000,1.059657e+07,118778.500000,18233.500000,842.000000,6.920212e+07,4.337901e+07,2.237664e+07,3.555310e+06,5475.000000,8184.000000,5688.500000,567.000000,80.000000,11.000000,2.000000
max,3973.000000,2029.000000,1945.000000,4.867787e+07,674162.000000,145055.000000,4066.000000,3.752711e+08,3.739528e+08,1.280810e+08,2.632631e+07,30551.000000,42181.000000,35016.000000,3652.000000,758.000000,156.000000,27.000000

In [132]:
champs_agg = df_pc.groupby(['champID'])

In [133]:
print(champs_agg