# Machine learning

In [2]:
import pandas as pd
import numpy as np
import pickle

## Import the data

In [5]:
df_pc = pd.read_pickle('pc_processed.pkl')
df_total = pd.read_pickle('total_processed.pkl')

In [6]:
df_pc.head()

,champID,maxNumDeaths,mostChampionKillsPerSession,league,GoldEarned,MinionKills,PhysicalDamageDealt,MagicDamageDealt,DamageTaken,DoubleKills,TripleKills,QuadraKills,PentaKills,TurretsKilled,KDA,WinRate
summID,,,,,,,,,,,,,,,,
45179106,157,19,20,4,13669.636364,232.322314,158626.950413,56048.223140,23923.380165,0.619835,0.090909,0.0000,0.00000,1.834711,1.925481,0.504132
27518339,14,15,12,4,12403.983607,175.393443,91527.245902,57252.524590,40255.868852,0.114754,0.016393,0.0000,0.00000,0.852459,2.075630,0.704918
37827325,67,18,24,4,12753.832579,189.081448,130735.665158,2473.723982,25157.153846,1.208145,0.180995,0.0181,0.00905,1.470588,1.889352,0.511312
54158691,79,11,11,1,10371.716981,50.528302,20377.245283,73929.735849,35359.773585,0.207547,0.018868,0.0000,0.00000,0.226415,2.580756,0.415094
46828075,131,16,18,2,12132.869565,164.333333,21984.434783,119351.028986,21507.579710,0.826087,0.072464,0.0000,0.00000,1.130435,2.307054,0.492754

In [8]:
df_total.head()

,league,GoldEarned,MinionKills,PhysicalDamageDealt,MagicDamageDealt,DamageTaken,DoubleKills,TripleKills,QuadraKills,PentaKills,TurretsKilled,Heal,NeutralMinionsKilled,totalKDA,WinRate
summID,,,,,,,,,,,,,,,
45179106,4,11826.022039,145.680441,85798.553719,47953.254362,24361.437098,0.460055,0.057851,0.004591,0.000918,1.126722,3475.229568,16.105601,2.215506,0.504132
27518339,4,11260.962877,126.740139,61803.303944,55339.556845,31033.616009,0.437355,0.040603,0.004640,0.000000,0.787703,5951.610209,13.633411,1.683708,0.704918
37827325,4,12369.761618,166.032702,110914.301205,33299.624785,27286.814974,0.835628,0.139415,0.025818,0.004303,1.159208,3230.913081,17.328744,1.842721,0.511312
54158691,1,11073.621076,108.540359,67854.139013,51714.623318,29377.955157,0.408072,0.042601,0.004484,0.000000,0.845291,4877.239910,34.531390,2.138967,0.415094
380210,2,10734.070093,111.878505,56378.378505,46746.864486,23430.724299,0.593458,0.070093,0.004673,0.000000,0.841121,3268.607477,20.728972,2.440747,NaN